
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to "Book a Ticket!", new_movie_booking_path(@movie, @booking), :class=> "btn btn-primary" %><br><br>
        <%= image_tag @movie.avatar.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_rating %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @movie.title %></td>
            </tr>
            <tr>
              <td><strong>Description:</strong></td>
              <td><%= @movie.description %></td>
            </tr>
            <tr>
              <td><strong>Movie length:</strong></td>
              <td><%= @movie.movie_length %></td>
            </tr>
            <tr>
              <td><strong>Director:</strong></td>
              <td><%= @movie.director %></td>
            </tr>
            <tr>
              <td><strong>Actors:</strong></td>
              <td><%= @movie.actros %></td>
            </tr>
            <tr>
              <td><strong>Genre:</strong></td>
              <td><%= @movie.genre  %></td>
            </tr>
            <tr>
              <td><strong>Price:</strong></td>
              <td>PKR/- <%= @movie.price  %></td>
            </tr>
            <tr>
              <td><strong>User:</strong></td>
              <td><%= @movie.user.full_name %></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <p>Username: <%= review.user.full_name%>
              <p class="star-rating" data-score= <%= review.rating %> ></p>
              <p><%= review.comment %></p>
              <hr>
            </div>
          <% end %>
        <% end %>
        <% if @movie.reviews.present? %>
        <%= link_to "Write a Review", new_movie_review_path(@movie) %>
        <% end %>
      </div>
    </div>
      <%= link_to 'Edit Movie!', edit_movie_path(@movie) %> |
      <%= link_to 'Back to Home Page', movies_path %>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $(".star-rating").raty({
            path: '/assets/',
            readOnly: true,
            score: function() {
                return $(this).attr('data-score');
            }
        });
    })
</script>