<div class="container align-content-center">
  <% if !current_user.has_role? :admin %>
    <%= link_to 'Back to Movie', movie_path(@movie), :class=> "btn btn-primary"  %><br><br>
  <% end %>
  <div class="row">
    <div class="align-content-center">
    <%= form_for([@movie, @booking] , local: true) do |form| %>
      <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <%= image_tag @movie.avatar.url(:medium) %>
      <br><br>
      <div class="field">
        <span>User Name: </span>
        <strong><span><%= current_user.full_name %></span></strong>
      </div>
      <hr>
        <div class="field">
          <span>Movie Name: </span>
          <strong><span><%= @movie.title %></span></strong>
        </div>
        <hr>
        <div class="field">
          <span>Ticket Price: </span>
          <strong><span><%= @movie.price %></span></strong>
        </div>
        <hr>
      <div class="field">
        <%= form.label :quantity %>
        <%= form.number_field :qty %>
      </div>
        <br>
      <div class="actions">
        <% if !current_user.has_role? :admin %>
          <%= form.submit :class => "btn btn-primary", :value=> "Create Booking"%>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
