
<body class="bg-gradient-primary">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">User Profile!</h1>
            </div>
            <div>
              <span>First Name:</span>
              <strong><span><%= @user.first_name %></span></strong>
            </div>
            <div>
              <span>Last Name:</span>
              <strong><span><%= @user.last_name %></span></strong>
            </div>
            <div>
              <span>Username:</span>
              <strong><span><%= @user.email %></span></strong>
            </div>
              <hr>
            <% @movies.each do |movie| %>
              <div>
                <ol>
                  <li>
                    <%= link_to movie.title, movie %>
                  </li>
                </ol>
              </div>
            <% end %>
              <hr>
              <div class="text-center">
                <%= link_to 'Edit Profile', edit_user_registration_path, :class => "small" %>
              </div>
              <div class="text-center">
                <%= link_to 'Back to Home Page!', movies_path, :class => "small" %>
              </div>
              </div>
            </div>
      </div>
    </div>

  </div>

</div>
</body>
