<!DOCTYPE html>
<html>
  <head>
    <title>IMDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= wicked_pdf_stylesheet_link_tag "sb-admin-2" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!--  <p class="notice"><%#= notice %></p>-->
<!--  <p class="alert"><%#= alert %></p>-->

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/top_header" %>
    <% end %>
    <%= yield %>
  </body>
</html>
